:root {
    /* Backgrounds */
    --bg-primary: #121212;
    --bg-secondary: #1f1f1f;

    /* Text */
    --text-primary: #f8f9fa;
    --text-secondary: #c0c0c0;

    /* Accent & Highlight */
    --accent-color: #0d6efd;
    --highlight-color: #6f42c1;

    }

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}
h1, h2, h3, h4 {
    color: var(--accent-color)
}

.btn-primary {
    border: none;
}

a:hover {
    color: var(--highlight-color)
}